<div class="chat-top">
  <div class="chat-top-group-name">Ryuta</div>
  <div class="chat-top-ending-chat"><a href="###">Exit chat</a></div>
</div>

<div class="chat-middle">
  <div class="chat-middle-content">
    <div class="chat-middle-content-a">
      <div class="chat-middle-content-a-name">Tom</div>
      <div class="chat-middle-content-a-time">2020/3/31(Wed) 12:43:40</div>
    </div>
    <div class="chat-middle-content-b">
      <div class="chat-middle-content-b-content">おはよう</div>
    </div>
  </div>

</div>

<div class="chat-bottom">
  <div class="chat-bottom-content">
    <input type="text" placeholder="type a message" class="chat-bottom-content-message">
    <label class="chat-bottom-content-image">
      <span>Image</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="SEND" class="chat-bottom-content-send">
  
</div>
