<div class="chat-top">
  <div class="chat-top-group-name">Ryuta</div>
  <div class="chat-top-ending-chat"><a href="###">Exit chat</a></div>
</div>

<div class="chat-middle">
  <div class="chat-middle-content">
    <div class="chat-middle-content-a">
      
      <div class="chat-middle-content-a-name">Tom</div>
      <div class="chat-middle-content-a-time">2020/3/31(Wed) 12:43:40</div>
    </div>
    <div class="chat-middle-content-b">
      <div class="chat-middle-content-b-content">おはよう</div>
    </div>
  </div>

</div>

<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f| %>
<div class="form-input">
  <%= f.text_field :content, class: "form-message", placeholder: "type a message" %>
  <label class="form-image">
    <span>Image</span>
    <%= f.text_field :image, class: "hidden" %>
  </label>
</div>
  <%= f.submit "SEND", class: "form-submit"%>
<%end%>