<div class="chat-middle">
  <div class="chat-middle-content">
    <div class="chat-middle-content-a">
      <div class="chat-middle-content-a-name"><%= message.user.name%></div>
      <div class="chat-middle-content-a-time"><%= l message.created_at %></div>
    </div>
  </div>
</div>