<div class="chat-middle">
  <div class="chat-middle-content">
    <div class="chat-middle-content-a">
      <div class="chat-middle-content-a-name"><%= message.user.name%></div>
      <div class="chat-middle-content-a-time"><%= l message.created_at %></div>
    </div>
    <div class="chat-middle-content-b">
      <div class="chat-middle-content-b-content"><%= message.content%></div>
      <%= image_tag message.image.variant(resize: "500x500"), class: "message-image" if message.image.attached?%>
    </div>
  </div>
</div>