<div class="side-bar-top">
  <div class="side-bar-top-a">
    <%=link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="side-bar-top-b">
    <%=link_to "Create Chat", new_message_path %>
  </div>
</div>
<div class="side-bar-content">
  <div class="side-bar-content-a">
    <a href="###">techroom1</a>
  </div>
  <div class="side-bar-content-a">
    <a href="###">techroom2</a>
  </div>

</div>