<div class="side-bar-top">
  <div class="side-bar-top-a">
    <%=link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="side-bar-top-b">
    <%=link_to "Create Chat", new_room_path %>
  </div>
</div>
<div class="side-bar-content">
  <div class="side-bar-content-a">
    <% current_user.rooms.each do |room|%>
    <%=link_to "room.name",  %>
    <%end%>
  </div>


</div>