<div class="side-bar-top">
  <div class="side-bar-top-a">Ryuta</div>
  <div class="side-bar-top-b"><a href="###">Create Chat</a></div>
</div>
<div class="side-bar-content">
  <div class="side-bar-content-a">
    <a href="###">techroom1</a>
  </div>
  <div class="side-bar-content-a">
    <a href="###">techroom2</a>
  </div>

</div>